$headerHeight: 60px;
$primaryTextColor: #222;
$secondaryTextColor: #999;
$inputPlaceholderTextColor: #DEDEDE;

body {
  color: $primaryTextColor;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0;
}

.header {
  background-color: #fff;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;

  height: $headerHeight;
}

.galleryTitle {
  height: $headerHeight;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  .back {
    cursor: pointer;
    padding: 20px;
  }

  h1 {
    display: inline-block;
    font-size: 20px;
    margin: 0;
    overflow: hidden;
    padding: 0 10px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;

    /* span {
      color: #999;
      font-size: 0.6em;
      margin-left: 0.6em;
    } */
  }
}

.wrap {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 5px;
  margin: 10px 16px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

.sticky {
  transform: translateY(0) translateZ(0);
  transition: transform linear 90ms;
  opacity: 1;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchInput {
  background: #fff;
  border: none;
  color: $primaryTextColor;
  font-size: 18px;
  height: 20px;
  margin: 4px 7px;
  outline: none;
  padding: 5px;
  width: 100%;

  &::placeholder {
    color: $inputPlaceholderTextColor;
  }
  
  &:-ms-input-placeholder {
    color: $inputPlaceholderTextColor;
  }
  
  &::-ms-input-placeholder {
    color: $inputPlaceholderTextColor;
  }
  
  &:focus{
    color: $primaryTextColor;
  }
}

.searchResults {
  border-top: 1px solid #ddd;
  display: flex;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  
    li {
      cursor: pointer;
      overflow: hidden;
      padding: 10px 12px;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.summary {
        color: $inputPlaceholderTextColor;
        font-size: 0.9em;
        text-align: center;
      }

      &:hover {
        background-color: #eee;
      }

      &:last-child {
        border-radius: 0 0 5px 5px;
      }

      .fas {
        margin-right: 12px;
      }
    }
  }  
}

.searchButton, .clearSearch {
  background: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  color: #ccc;
  cursor: pointer;
  font-size: 20px;
  height: 30px;
  margin: 4px 7px;
  text-align: center;
  width: 40px;
}

.contentCover {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.content {
  margin-top: $headerHeight;
  z-index: 0;

  .item {
    cursor: pointer;
  }
}

.pageText {
  padding: 10px;
}

.photoCount {
  text-align: center;
  color: $secondaryTextColor;
}

.loading {
  color: $secondaryTextColor;
  margin: 20px;
  text-align: center;
}

[v-cloak] {
  display: none;
}